<div id='ahd-subject-staff-<%= subject_staff.id %>'>
  <% if subject_staff.ad_hoc_domain_staffs.size == 1 %>
    <%= ahd_row(text2: "None defined yet.",
                classes2: %w(annotation)) %>
  <% end %>
  <%= render subject_staff.ad_hoc_domain_staffs.sort %>
</div>

