<h3>Journal entries for "<%= @element.name %>"</h3>

<div class="row collapse">
  <div class="small-12 columns">
    <div class="apple_pagination">
      <%= will_paginate @journal_entries %>
    </div>

    <table class="zftable">
      <thead>
        <th>Action</th>
        <th>By</th>
        <th>At</th>
        <th>Details</th>
        <th>Event</th>
        <th>On</th>
        <th></th>
      </thead>
      <tbody>
        <%= render partial: "element_journal_entry", collection: @journal_entries %>
      </tbody>
    </table>

    <div class="apple_pagination">
      <%= will_paginate @journal_entries %>
    </div>
  </div>
</div>
