<p id="notice"><%= notice %></p>

<table class="zftable">
  <tr>
    <td><strong>Name:</strong></td>
    <td><%= @service.name %></td>
  </tr>
</table>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
