<div id="mainContainer">
  <div class="row collapse calendarbit">
    <div class="small-12 columns">
      <h1>Title across the top</h1>
    </div>
    <div class="small-4 columns">
      Name and stuff
    </div>
    <div class="small-8 columns">
      <div id='editing-rota-template'>
      </div>
    </div>
  </div>
</div>
