<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Possible cover issues - <%=
      now = Time.zone.now
      now.strftime("%a #{now.day.ordinalize} %b, %Y %H:%M") %>
    </h2>
<% if @clashes.size > 0 %>
    <p>
      Automatic processing of the cover records from SchoolBase has
      thrown up the following possible clashes.
    </p>
    <table>
      <tr>
        <td>Covering</td>
        <td>Covered</td>
        <td>Event</td>
        <td>From</td>
        <td>To</td>
        <td>Clash</td>
        <td>From</td>
        <td>To</td>
      </tr>
      <%= render @clashes %>
    </table>
<% end %>
<% if @oddities.size > 0 %>
    <p>
      Automatic processing of the cover records from SchoolBase has
      thrown up the following possible oddities.
    </p>
    <table>
      <tr>
        <td>Activity</td>
        <td>From</td>
        <td>To</td>
        <td>Person</td>
        <td>Problem</td>
      </tr>
      <%= render @oddities %>
    </table>
<% end %>
  </body>
</html>
