<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
    <%= @name %> requests <%= @resource.name %> at <%= @event.starts_at_text %>
    </p>
  </body>
</html>
