<div class='small-1 column'>JHW</div>
<div class='small-10 columns'><%= comment.body %></div>
<div class='small-1 columns'>
  <% if current_user && current_user.can_delete?(comment) %>
    <%= link_to "Delete", comment, method: :delete, class: 'zfbutton teensy tiny button-link' %>
  <% else %>
    &nbsp; 
  <% end %>
</div>
