<div class="small-12 medium-6 large-4 columns">
  <div class="panel">
    <h3><%= eraset.era.name %></h3>
    <ul>
      <% if @grouped_direct_groups.empty? %>
        <li>None</li>
      <% else %>
        <%= render partial: "group", collection: eraset.sort %>
      <% end %>
    </ul>
  </div>
</div>

