<p>Current, then previous.</p>

<p>Within that, we have:</p>

<ul>
<li>Tutor
<li>Teaching
<li>Other Half
<li>Tag - only show own, or all if user is admin.
<li>Vanilla
</ul>

<p>and within those, the groups are sorted by end date, then by start date.</p>

<table class="zftable">
  <tr><th colspan="4">Current</th></tr>
  <% mwdset.grouped_mwds_sorted_for_display.each do |batch| %>
  <tr>
    <th>Group</th><th>Level</th><th>From</th><th>To</th>
  </tr>
    <%= render batch %>
  <% end %>
  <tr><th colspan="4">Previous</th></tr>
</table>

