<div class='timetable'>
<h3>Timetable for <%= @element.name %></h3>
<%= render @timetable %>
</div>
<% if @doprint %>
  <script language="JavaScript">
    window.addEventListener("afterprint", function() { window.close(); });
    window.print();
  </script>
<% end %>
