<% @timetables.each do |timetable| %>
<div class='timetable'>
<h3>Timetable for <%= timetable.element_name %></h3>
<%= render timetable %>
</div>
<p class='pagebreak'/>
<% end %>
<% if @doprint %>
  <script type="text/javascript">
    window.addEventListener("afterprint", function() { window.close(); });
    window.print();
  </script>
<% end %>
