<h1>Periods</h1>

<table class="zftable">
  <thead>
    <tr>
      <th>Day</th>
      <th>Starts</th>
      <th>Ends</th>
    </tr>
  </thead>
  <tbody>
    <%= render @periods %>
  </tbody>
</table>
