//
//  Custom formatting for e-mails.  The stuff defined here works in
//  addition to general application CSS formatting, and is specific
//  to e-mails, whether viewed within the application or within
//  a remote e-mail client.
//
//  You can tweak the appearance of e-mails by editing this file.
//  If you want to do that, don't alter the original, which
//  resides in app/views/user_mailer/Originals.  Instead remove
//  the symbolic link to it which resides in app/assets/stylesheets,
//  make a fresh copy of it there, and then edit that.
//
//  Put all your extra stuff *within* the .scheduler-email-contents
//  section.  This ensures it won't affect any other part of the
//  application.
//
//  If you modify this file you then need to do:
//
//    . ~/etc/whichsystem
//    cd $SCHEDULER_DIR
//    rake assets:precompile
//    cd app/views/user_mailer
//    ./precompile
//    cd $SCHEDULER_DIR
//    touch tmp/restart.txt
//
//  for your changes to take effect.
//

//
//  All e-mails get the "scheduler-email-contents" class, but only
//  new format ones get "um-functional-styling".
//
.scheduler-email-contents.um-functional-styling {
  width: 600px;
  text-align: center;
  //
  //  But not the text in the header.
  //
  div.mail-header {
    text-align: left;
  }
  div.um-email-body {
    //
    //  All our contained divs want the following.
    //
    div {
      margin-top: 5px;
      padding-top: 5px;
      //
      //  And then stuff specific to each one.
      //  Note the use of the ampersand.  Without that we would get:
      //
      //    div .um-subject-text
      //
      //  but with it we get:
      //
      //    div.um-subject-text
      //
      &.um-subject-text {
        text-transform: uppercase;
        font-size: 200%;
        height: 35px;
      }
      &.um-event-body {
        font-weight: bold;
      }
      &.um-event-timing {
        margin-top: 0px;
        padding-top: 0px;
      }
      &.um-requested-element {
        margin-top: 25px;
        margin-bottom: 25px;
        font-weight: bold;
        font-size: 150%;
      }
      &.um-request-description {
        font-style: italic;
        font-size: 120%;
      }
      &.um-reason {
        font-style: italic;
      }
      &.um-absences {
        text-align: left;
        h4 {
          font-size: 1.2em;
          margin-top: 0.5em;
        }
        h5 {
          text-indent: 25px;
          font-size: 1.0em;
        }
        h6 {
          font-size: 1.0em;
          font-style: italic;
          margin-bottom: 20px;
          text-indent: 10px;
        }
        p {
          margin-left: 50px;
          margin-bottom: 10px;
        }
      }
      &.um-event-summary-outer {
        text-align: left;
        .um-event-summary-inner {
          display: inline-block;
          padding-left: 10px;
          padding-right: 10px;
          border: 1px solid black;
          border-radius: 5px;
          h3 {
            font-size: 1.2em;
            font-weight: bold;
          }
          h4 {
            font-size: 1.0em;
            font-weight: bold;
          }
          li {
            font-size: 0.8em;
            .um-commitment-status {
              font-style: italic;
            }
          }
        }
      }
    }
  }
}
