<div class='um-subject-text'>
  <%= @subject %>
</div>
<div class='um-preamble'>
Automated processing has identified the following possible
absences from your lessons or activities over the
coming days.
</div>

<div class='um-absences'>
  <%= render @event_notes %>
</div>

