<div class='um-subject-text'>
  <%= @subject %>
</div>
<div class='um-preamble'>
  You have one or more requests in Scheduler for resources for events
  which are now getting quite close.  Please could you review them and
  either re-confirm that you still want them, or cancel the request(s)?
</div>

<%= render @items %>

<div class='um-midamble'>
  You can use the button below to take you straight to your
  list of pending requests in Scheduler.
</div>

<div class='um-buttons'>
  <%= mailer_pending_requests_link(@user, 'View pending requests') %>
</div>


<div class='um-postamble'>
  If you would prefer not to receive these messages, you can disable them
  by editing your user record in Scheduler.  Log in and then click on your
  name at the top right of the screen to do this.
</div>
