<div class='flip-button'>
  <%= mailer_pending_requests_link(@user, 'View pending requests') %>
</div>

<p>
You have one or more requests in Scheduler for events which are now
getting quite close.  Please could you review them and either
re-confirm that you still want them, or cancel the request(s)?
</p>

<ul>
  <%= render @items %>
</ul>

<p>
If you would prefer not to receive these messages, you can disable them
by editing your user record in Scheduler.  Log in and then click on your
name at the top right of the screen to do this.
</p>
