
<h3>Notifications as follows <%= @sent ? "" : "(not actually sent)" %>:</h3>

<% if @staff_entries.size > 0 %>
<ul>
  <%= render @staff_entries %>
</ul>
<% else %>
  No relevant entries found.
<% end %>
