<h2>Invigilation clashes</h2>

<% if @notifier.clashes.size > 0 %>
  <table class="zftable">
    <thead>
      <tr>
        <th>Staff</th>
        <th>Slot</th>
        <th>From</th>
        <th>To</th>
        <th>Clash</th>
        <th>From</th>
        <th>To</th>
      </tr>
    </thead>
    <tbody>
      <%= render @notifier.clashes.sort %>
    </tbody>
  </table>
<% else %>
  No clashes found.
<% end %>
