<h1>Finding free resources</h1>

<%= form_for(@input_element,
             :url => {:controller => :groups, :action => :find_free},
             :html => {:method => :get} #,
#             remote: true
             ) do |f| %>
  From group:
  <%= f.autocomplete_field :name,
                           autocomplete_group_element_name_elements_path,
                           :id_element => '#element_id',
                           :placeholder => "Group name",
                           "data-auto-focus" => true %>
  <%= f.text_field :id %>
  <%= f.submit "Find free" %>
<% end %>

