<% if @modal %>
<a class="close-reveal-modal">&#215;</a>
<% end %>
<h1>Editing user<%=
  if current_user.admin?
    " - #{@user.type_text}"
  else
    ""
  end %></h1>

<% if @full_details %>
  <ul class="tabs" data-tab>
    <li class="tab-title active"><a href="#user-general">General</a></li>
    <li class="tab-title"><a href="#user-concerns">Concerns</a></li>
  </ul>
  
  <div class="tabs-content">
    <div class="content active" id="user-general">
<% end %>

<%= render 'general' %>

<% if @full_details %>
    </div>
    <div class="content" id="user-concerns">
      <%= render 'concerns' %>
    </div>
  </div>
<% end %>
