<% if @minimal %>
<a class="close-reveal-modal">&#215;</a>
<% end %>
<h1>Editing user</h1>

<%= render 'form' %>

<% if current_user.admin? %>
  <hr/>
<% end %>

<% if !@minimal && !@minute %>
<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
<% end %>
