<% unless ad_hoc_domain_subject.new_record? %>
<tr>
  <td><%= ad_hoc_domain_subject.subject.name %></td>
  <td class='numeric'><%=
    ad_hoc_domain_subject.ad_hoc_domain_staffs.count
  %></td>
  <td class='numeric'>0</td>
  <td><%= ad_hoc_domain_subject.can_delete? ?
    link_to("&#215;".html_safe,
            ad_hoc_domain_subject,
            method: :delete,
            data: {
              confirm: "Deleting this subject link will remove all the corresponding entries for students and teachers of the subject.  Continue?"
            },
            remote: true) : " " %></td>
</tr>
<% end %>
