<div id='ahd-allocation-listing'>
  <div id='ahd-allocation-inner'>
    <div>
  <h3>Allocations</h3>

  <p>You can have several draft allocations for a single cycle at the same
  time - perhaps for the purpose of experimentation - but when
  you implement one of them (generate the actual lessons) any lessons produced
  by any of the others will be removed automatically.</p>

      <table class='zftable'>
        <thead>
          <tr>
            <th>Name</th>
            <th>% complete</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= render @ad_hoc_domain_cycle.ad_hoc_domain_allocations %>
        </tbody>
      </table>
      <%=
        link_to(
          "New allocation",
          new_ad_hoc_domain_cycle_ad_hoc_domain_allocation_path(
            @ad_hoc_domain_cycle),
            class: "zfbutton radius tiny button-link")
          %>
    </div>
    <div id='ahd-job-status'>
      <script type="application/json" id="ahd-job-status-data">
      <%= @job_status.to_json.html_safe %>
      </script>
    </div>
  </div>
</div>

