<%= ahd_row(
  contents: {
    staff: pseudo_staff.staff_name,
    num_subjects: "#{pseudo_staff.num_real_subjects} subjects",
    num_pupils: "#{pseudo_staff.num_real_pupils} pupils",
    flipper: ahd_toggle( @folded ? "Show" : "Hide")
  },
  row_classes: %w(overrule)) %>
<div>
  <%= render collection: pseudo_staff.ad_hoc_domain_subjects, partial: 'pseudo_subject' %>
</div>

