<div id='ahd-staff-listing'>
  <% if @ad_hoc_domain_cycle.ad_hoc_domain_staffs.size == 0 %>
    <%= ahd_row(
      contents: { no_staff: "None defined yet." },
      row_classes: %w(placeholder)) %>
  <% else %>
    <%=
      render(
        partial: 'ad_hoc_domain_staffs/staff_outer',
        collection: @ad_hoc_domain_cycle.ad_hoc_domain_staffs.sort,
        locals: {
          nested: false
        }
      )
    %>
  <% end %>
  <%=
    ahd_row(
      contents: {
        staff_form: ahd_new_staff_form(@ad_hoc_domain_cycle)
      },
      row_classes: %w(underrule overrule)
    )
    %>
</div>

