<div id='ahd-subject-list'>
  <% if @ad_hoc_domain.ad_hoc_domain_subjects.empty? %>
    None defined yet.
  <% else %>
    <%= render @ad_hoc_domain.ad_hoc_domain_subjects.sort %>
  <% end %>
</div>

