
<h1>Arranging <%= @ad_hoc_domain.name %></h1>

<section class='ahd-listing'>
  <div>
    <%=
      ahd_row(
        row_classes: %w(heading),
        classes1: %w(heading),
        text1: "Subject"
      )
    %>
    <%= render 'subject_listing' %>
  </div>
</section>

