
<h1>Arranging <%= @ad_hoc_domain.name %></h1>

<section class='ahd-listing'>
  <div>
    <%=
      ahd_row2(
        contents: {
          subject_heading: "Subject",
          flipper: ahd_toggle("Show all")
        })
    %>
    <%= render 'subject_listing' %>
  </div>
</section>

