
<h1>Arranging <%= @ad_hoc_domain.name %></h1>

<section class='ahd-listing'>
  <div>
    <%=
      ahd_row(
        classes1: %w(heading),
        text1: "Subject",
        text4: ahd_toggle("Show all")
      )
    %>
    <%= render 'subject_listing' %>
  </div>
</section>

