<p id="notice"><%= notice %></p>

<table class="zftable">
  <tr>
    <td><strong>Name:</strong></td>
    <td><%= @property.name %></td>
  </tr>
</table>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
