<div class="row">
  <div class="large-2 columns">
    <div id="datepicker"></div>
  </div>
  <div class="large-10 columns">
    <div id="fullcalendar"<%
      if current_user && current_user.known?
        %> class="withedit"<%
      end %>></div>
  </div>
</div>
<div id="eventModal" class="reveal-modal" data-reveal>
  <h2>You clicked on an event.</h2>
  <p>If you have permission to edit this event, then this will take you
  into an edit dialogue.</p>
  
  <p>If you don't then it will simply show you full
  details of the event.</p>

  <a class="close-reveal-modal">&#215;</a>
</div>
