<pre class="note_contents"><%= note.contents %></pre>
<div class="note_link">
  <% if current_user && current_user.can_edit?(note) %>
    <%= link_to "Edit", edit_note_path(note), remote: true %>
    <%= link_to "Delete", note, method: :delete, remote: true, data: { confirm: 'Are you sure you want to delete this note?' } %>
  <% else %>
    <%= note.owner ? note.owner.initials : "" %>
  <% end %>
</div>
<hr/>
