<div class="row">
  <div class="small-12 columns">
    <hr/>
    <div>
    <% unless @notes.empty? %>
      <%= render partial: "events/note", collection: notes %>
    <% end %>
    </div>
<% if current_user && current_user.staff? %>
    <div class="note_link">
      <%=
        link_to "Add note", new_event_note_path(@event), remote: true
      %>
    </div>
    <hr/>
<% end %>
  </div>
</div>
