<div class="no-resource-warning">
<p>There <%= @form_count == 1 ? "is" : "are" %> currently
<%= pluralize(@form_count, "form") %> which you will
need to fill in order to get your resource requests approved.</p>

<p>Close this dialogue and then use the menu at the top of the
screen to access them.</p>
</div>
