Hello
<% @searchevent = Event.new %>
<li class="has-form">
<%= form_for(@searchevent,
            :url => {:controller => :events, :action => :search},
            :html => {:method => :get }) do |f| %>

  <div class="row collapse">
    <div class="large-8 small-9 columns">
      <%= f.text_field :body %>
    </div>
    <div class="large-4 small-3 columns">
      <%= f.submit "Search" %>
    </div>
  </div>
<% end %>
</li>

