<% @searchevent = Event.new %>
<li class="has-form">
<%= form_for(@searchevent,
            :url => {:controller => :events, :action => :search},
            :html => {:method => :get }) do |f| %>
  <%= f.text_field :body, :placeholder => "Search"  %>
<% end %>
</li>

