<div class="no-resource-warning" title="You can switch off this message in your user preferences.">
  Warning!  Your event currently has no resources attached to it
  which means that no-one other than you will be able to see it
  (and then only if you tick the "My events" box).  Think about
  what resources - people, places and services - your event is
  going to use and add them to the event so that your event will
  appear in all the appropriate schedules.
</div>
