<h1><%= @title %></h1>

<div class="digg_pagination">
  <%= will_paginate @events %>
</div>

<table class="zftable">
  <thead>
    <tr>
      <th>Start</th>
      <th>Duration</th>
      <th>Body</th>
      <% if @show_owner %>
        <th title="Owner">Own</th>
      <% end %>
      <% if @show_organiser %>
        <th title="Organiser">Org</th>
      <% end %>
      <% if @show_resource_status %>
        <th>Approval</th>
      <% end %>
      <% if @show_our_form_status %>
        <th>Form</th>
      <% end %>
      <% if @show_overall_status %>
        <th title="Incomplete">Inc</th>
      <% end %>
      <% if @show_counts %>
        <th title="Pending approvals">Pend</th>
        <th title="Rejections">Rej</th>
      <% end %>
      <% if @show_pending_form_count %>
        <th title="Forms to complete">Frms</th>
      <% end %>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @events %>
  </tbody>
</table>
<div class="digg_pagination">
  <%= will_paginate @events %>
</div>

<br>

