<h1>Events</h1>

<div class="apple_pagination">
<%= will_paginate @found_events %>
</div>

<table class="zftable">
  <thead>
    <tr>
      <th>When</th>
      <th>Event</th>
<% if @full_details %>
      <th>Properties</th>
<% end %>
      <th>Where</th>
<% if @full_details %>
      <th>Organiser</th>
      <th>Owner</th>
      <th>Complete</th>
<% end %>
    </tr>
  </thead>

  <tbody>
    <%= render :partial => "found_event", :collection => @found_events %>
  </tbody>
</table>
<div class="apple_pagination">
<%= will_paginate @found_events %>
</div>

<br>

