<h1>Current system settings</h1>

<table class="zftable">
  <tbody>
    <% @settings.each do |setting| %>
      <tr>
        <td>Title text</td>
        <td><%= setting.title_text %></td>
      </tr>
      <tr>
        <td>Public title text</td>
        <td><%= setting.public_title_text %></td>
      </tr>
      <tr>
        <td>Current era</td>
        <td><%= setting.current_era ? setting.current_era.name : "Era not set" %></td>
      </tr>
      <tr>
        <td><%= link_to 'Edit', edit_setting_path(setting), class: 'zfbutton tiny radius button-link' %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

