<li>
  <span style="background-color:<%= interest.colour %>;color:white" class="dynamic-element" element_id="<%= interest.element_id %>">
    <%= interest.element.name %>
  </span>
  <%= link_to '&#215;'.html_safe, interest, remote: true, method: :delete %>
</li>

