<tr>
  <td style="background-color:<%= ownership.colour %>;color:white" class="dynamic-element" element_id="<%= ownership.element_id %>" title="<%= ownership.element.id %>">
    <%= ownership.element.name %>
  </td>
  <td>
    <input type="checkbox" value="on" />
  </td>
  <td></td>
</tr>

