<h3>Events involving <%= @element.name %></h3>
<% unless @excluded_elements.empty? %>
  <h5>(but not involving <%= @excluded_elements.collect { |ee| ee.name }.join(",") %>)</h5>
<% end %>
<table class="zftable">
  <thead>
    <tr>
      <th>Date</th>
      <th>Events</th>
    </tr>
  </thead>

  <tbody>
    <%= render @days %>
  </tbody>
</table>
