<h1>Listing eras</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Starts on</th>
      <th>Ends on</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @eras %>
  </tbody>
</table>

<br>

<%= link_to 'New Era', new_era_path, class: "button radius" %>
