<div>None specified</div>
<div class="note_link">
  <%=
    link_to(
      "Create",
      new_element_promptnote_path(@element),
      remote: true,
      class: 'zfbutton teensy button-link'
    ) %>
</div>

