<li>
  <div class='columnar'>
    <div><%= clash_message.date %></div>
    <div><%= clash_message.duration %></div>
    <div><%= clash_message.initials %></div>
    <div><%= clash_message.body %></div>
  </div>
</li>
