<div id='examcycle' data-ecid='<%= @exam_cycle.id %>'>
  <div id='ec-header'>
    <h3>
      Exam cycle: <%= @exam_cycle.name %>
    </h3>
  </div>
  <h4>Rooms</h4>
  <table id='ec-table' class='zftable ec-table'>
    <thead>
      <tr id='ec-header-row'>
        <th class='ec-deleteslot'></th>
        <th class='ec-timeslot'>Room</th>
        <th class='ec-daybox'>Template</th>
        <th class='ec-daybox'>Starts</th>
        <th class='ec-daybox'>Ends</th>
        <th class='ec-daybox'>Events</th>
        <th class='ec-action'></th>
        <th class='ec-action'></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
      <tr>
      </tr>
    </tfoot>
  </table>
</div>
<div align="right">
  <%= link_to 'Done', exam_cycles_path, class: 'button tiny radius' %>
</div>

<script type="text/template" id="ec-protoevent-row">
  <td>
     <button class='add tiny radius'>Add</button>
     <button class='edit tiny radius'>Edit</button>
   </td>
   <td>
     <span class="displaying"><%%= room %></span>
     <div class="location forinput">
       <label>Room
         <input class="inputname"
                placeholder="Select room"
                value="<%%= room %>"
                data-autocomplete="/elements/autocomplete_location_element_name"
                data-auto-focus="true"
                data-id-element="#location_id_n<%%= id %>"
                type="text" />
       </label>
     </div>
     <input class="location_id"
            id="location_id_n<%%= id %>"
            value="<%%= location_id %>"
            type="hidden" />
   </td>
   <td>
     <span class="displaying"><%%= rota_template_name %></span>
     <div class="rota_template forinput">
       <label>Period template
         <%= template_selector_text %>
         </label>
     </div>
   </td>
   <td>
     <span class="displaying"><%%= starts_on_text %></span>
     <div class="starts_on forinput">
       <label>Starts on
         <input class="starts_on datepicker" placeholder="Starts on" value="<%%= starts_on_text %>" type="text" />
       </label>
     </div>
   </td>
   <td>
     <span class="displaying"><%%= ends_on_text %></span>
     <div class="ends_on forinput">
       <label>Ends on
         <input class="ends_on datepicker" placeholder="Ends on" value="<%%= ends_on_text %>" type="text" />
       </label>
     </div>
   </td>
   <td>
     <span class="displaying"><%%= event_count %></span>
   </td>
   <td>
     <button class='generate tiny radius'>Generate</button>
     <button class='regenerate tiny radius'>Re-generate</button>
     <button class='update tiny radius'>Update</button>
   </td>
   <td>
     <button class='deleteevents tiny radius'>Delete events</button>
     <button class='destroy tiny radius'>Delete</button>
     <button class='cancel tiny radius'>Cancel</button>
   </td>
</script>

<script type="text/template" id="ec-error-msg">
  <small class="error"><%%= error_msg %></small>
</script>

