// Place all the styles related to the AdHocDomains controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ahd-listing {
  .row {
    display: grid;
    grid-template-columns: 1em 1em 2fr 1em 2fr 1em 2fr 6em;
  }

  .heading {
    font-weight: bold;
  }

  .annotation {
    font-size: 100%;
  }

  .underrule {
    border-bottom-style: solid;
    border-width: 2px;
    border-color: black;
    margin-bottom: 2px;
    &.minor {
      border-width: 1px;
      border-color: #C0C0C0;
    }
  }

  .overrule {
    border-top-style: solid;
    border-width: 2px;
    border-color: black;
    padding-top: 2px;
    &.minor {
      border-width: 1px;
      border-color: #C0C0C0;
    }
  }

  .errors {
    color: red;
  }

  .folded {
    display: none;
  }

  input {
    margin-bottom: 2px;
    height: 24px;
  }
}
