// Place all the styles related to the AdHocDomains controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ahd-listing {
  //
  //  Tempting to use a class of simply "row" here, but that then
  //  clashes with Zurb Foundation.
  //
  .arow {
    display: grid;
    grid-template-columns: 1em 4fr 1em 4fr 1em 4fr 1fr 3em 6em;
    grid-template-areas: "subjectx subject staffx staff pupilx pupil pupil pupil flipper";
  }

  .sub-grid {
    display: grid;
    grid-template-columns: 4fr 1fr 3em;
  }

  .flipper {
    grid-column: flipper;
  }

  .subject-delete {
    grid-column: subjectx;
  }

  .subject-heading {
    font-weight: bold;
    grid-column: 2;
  }

  .subject-form {
    grid-column: 2;
  }

  .subject {
    grid-column: 2;
    font-weight: bold;
  }

  .staff-delete {
    grid-column: staffx;
  }

  %staff-shared {
    grid-column: staff;
  }

  .num-staff {
    @extend %staff-shared;
  }

  .no-staff {
    @extend %staff-shared;
    font-style: italic;
  }

  .staff-form {
    @extend %staff-shared;
  }

  .staff {
    @extend %staff-shared;
  }

  .pupil-delete {
    grid-column: 5;
  }

  %pupil-shared {
    grid-column: 6;
  }

  .num-pupils {
    @extend %pupil-shared;
  }

  .no-pupils {
    @extend %pupil-shared;
    font-style: italic;
  }

  .pupil-heading {
    @extend %pupil-shared;
    font-weight: bold;
  }

  .pupil-form {
//    grid-column: 6 / span 3;
    grid-column: pupil;
  }

  .pupil {
    @extend %pupil-shared;
  }

  .mins-heading {
    grid-column: 7;
    font-weight: bold;
  }

  .mins {
    grid-column: 7;
  }

  .edit_pupil {
    grid-column: 8;
  }

  .underrule {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: black;
    margin-bottom: 2px;
    &.minor {
      border-width: 1px;
      border-color: #C0C0C0;
    }
  }

  .overrule {
    border-top-style: solid;
    border-width: 1px;
    border-color: black;
    padding-top: 2px;
    &.minor {
      border-width: 1px;
      border-color: #C0C0C0;
    }
  }

  .errors {
    color: red;
  }

  .folded {
    display: none;
  }

  input {
    margin-bottom: 2px;
    height: 24px;
  }
}
