// Place all the styles related to the elements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gg_table {
  width: 100%;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      background-color: #F0F0F0;
      color: black;
    }
    &:visited {
      color: black;
    }
  }

}

.warning {
  color: red;
}
