// Place all the styles related to the ExamCycles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#exam-cycle-editing {
  position: relative;
}

#dialogue-buttons {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
