.ui-dialog.ui-front {
  z-index: 1500;
}

div#file-selector-dialog {
  fieldset {
    padding: 0.25rem;
  }

  input {
    margin-bottom: 5px;
  }

  p {
    margin-bottom: 5px;
  }

  p.unavailable {
    font-style: italic;
    text-indent: 20px;
  }

  fieldset {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

div#fsd-listing {
  border: 1px solid rgb(221, 221, 221);
  padding-left: 5px;
}

div#fsd-filelist {
  padding-left: 5px;
  padding-right: 5px;
  line-height: 30px;
  height: 200px;
  overflow-y: scroll;
  span {
    border: 1px solid rgb(0,112,149);
    padding: 3px 5px 3px 3px;
    border-radius: 4px;
    margin-left: 2px;
    margin-right: 2px;
    color: white;
    background-color: rgb(0,140,186);
    font-family: "Helvetica Neue", Helvetica;
    font-size: 12px;
    transition: background-color 300ms ease-out;
    white-space:nowrap;
    &:hover {
      background-color: #007095;
    }
  }
}

div#file-upload-area {
  border: 1px solid rgb(221, 221, 221);
  margin-top: 5px;
  padding: 5px;

}
