// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.note_contents {
  overflow: auto;
  border: 1px solid black;
  background-color: #f0f0f0;
  padding-left: 4px;
  padding-right: 4px;
}

div.note-attachments {
  padding-left: 4px;
  padding-right: 4px;
  p {
    margin-bottom: 5px;
  }
}
