// Place all the styles related to the schedule controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.ui-datepicker, .ui-datepicker td, .ui-datepicker th{
  font-size: 12px;
}

.fc-event {
  min-height: 18px;
}

//
//  Because our font is slightly smaller than FC is expecting, we
//  have elsewhere moved the body of the event down by 2px.  In order
//  to make the dots/flags look right, we need to move them back up
//  by the same.
//
.evtopright {
  position: absolute;
  top: -2px;
  right: 0px;
}

.evalmosttopright {
  position: absolute;
  top: 0px;
  right: 20px;
}

.evnearleft {
  position: absolute;
  top: 0px;
  left: 32px;
}

.evrightoftime {
  position: absolute;
  top: 0px;
  left: 80px;
}

li.name {
  a:hover {
    background-color: #313D58;
  }
}

table.zftable td.concern-cell {
  color: white;
  font-size: 90%;
  padding-top: 0px;
  padding-bottom: 0px;
}

div.hidden-lhs {
  display: none;
}

input.hidden_submit {
  display: none;
}

#mainContainer {
  position: relative;
  height: calc(100% - 45px);
  width: 100%;
}

.calendarbit {
//  border: 1px solid red;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 20px;
  height: calc(100% - 20px);
  width: 100%;
}

.fillup {
  height: 100%;
}

.bottomtext {
//  border: 1px solid blue;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 20px;
  width: 100%;
  text-align: center;
}
