// Place all the styles related to the schedule controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.ui-datepicker, .ui-datepicker td, .ui-datepicker th{
  font-size: 12px;
}

.fc-event {
  min-height: 18px;
}

//
//  Because our font is slightly smaller than FC is expecting, we
//  have elsewhere moved the body of the event down by 2px.  In order
//  to make the dots/flags look right, we need to move them back up
//  by the same.
//
.evtopright {
  position: absolute;
  top: -2px;
  right: 0px;
}

.evalmosttopright {
  position: absolute;
  top: 0px;
  right: 20px;
}

.evnearleft {
  position: absolute;
  top: 0px;
  left: 32px;
}

.evrightoftime {
  position: absolute;
  top: 0px;
  left: 80px;
}

li.name {
  a:hover {
    background-color: #313D58;
  }
}

table.zftable td.concern-cell {
  color: white;
  font-size: 90%;
  padding-top: 0px;
  padding-bottom: 0px;
}

div.hidden-lhs {
  display: none;
}

input.hidden_submit {
  display: none;
}

#mainContainer {
  position: relative;
  height: calc(100% - 45px);
  width: 100%;
}

.calendarbit {
//  border: 1px solid red;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 20px;
  height: calc(100% - 20px);
  width: 100%;
}

.fillup {
  height: 100%;
}

.bottomtext {
//  border: 1px solid blue;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 20px;
  width: 100%;
  text-align: center;
}

.bottomrighttext {
  position: absolute;
  bottom: 0px;
  right: 20px;
  height: 20px;
  text-align: right;
  z-index: 10;
}

div#filter-switch {
  margin: 5px;
  float: left;
}

div#view-switch {
  margin: 5px;
  padding-right: 5px;
  float: right;
}

span#filter-state.filter-on {
  color: white;
  background-color: red;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 2px;
  border-radius: 4px;
}

ul.filter-list {
  list-style-type: none;
  li {
    input {
      margin-bottom: 6px;
    }
    label {
      font-size: 13px;
    }
  }
}

ul.wrapping-resource-list {
  list-style-type: none;
}

.no-resource-warning {
  border: 3px solid red;
  padding-left: 8px;
  padding-top: 4px;
  padding-right: 8px;
  padding-bottom: 8px;
  border-radius: 8px;
  .tiny {
    font-size: 80%;
  }
}

.double-booked {
  border: 2px solid red;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 4px;
}

.lhs-filler {
  min-height: 35px;
}

.quick-add-button {
  border: 1px solid rgb(0,112,149);
  padding: 1px 5px 1px 3px;
  border-radius: 4px;
  color: white;
  background-color: rgb(0,140,186);
  font-family: "Helvetica Neue", Helvetica;
  font-size: 12px;
  transition: background-color 300ms ease-out;
  &:hover {
    background-color: #007095;
  }
}

.quick-buttons {
  margin-bottom: 12px;
}
