// Place all the styles related to the schedule controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.ui-datepicker, .ui-datepicker td, .ui-datepicker th{
  font-size: 12px;
}

.fc-event {
  min-height: 18px;
}

.evtopright {
  position: absolute;
  top: 0px;
  right: 0px;
}

.evtopleft {
  position: absolute;
  top: 0px;
  left: 24px;
}

li.name {
  a:hover {
    background-color: #313D58;
  }
}

table.zftable td.concern-cell {
  color: white;
  font-size: 90%;
  padding-top: 0px;
  padding-bottom: 0px;
}

div.hidden-lhs {
  display: none;
}

input.hidden_submit {
  display: none;
}
