.annotation {
  font-style: italic;
  font-size: 80%;
}

span.tinytext {
  font-style: italic;
  font-size: 80%;
}

a.button-link {
  color: white;
}

select.compressed, input.compressed {
  margin-bottom: 4px;
}

.remover-wrapper {
  height: 35px;
  display: flex;
  align-items: center;
}

div.mail-header {
  width: 100%;
  color: white;
  background-color: rgb(33, 45, 72);
  line-height: 45px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 17px;
  font-weight: normal;
}

div.mail-header a.schedlink {
  color: white;
  text-decoration: none;
}

td.numeric {
  text-align: right;
}
