.annotation {
  font-style: italic;
  font-size: 80%;
}

a.button-link {
  color: white;
}

select.compressed, input.compressed {
  margin-bottom: 4px;
}

.remover-wrapper {
  height: 35px;
  display: flex;
  align-items: center;
}
