ul.tree-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
  li {
    list-style-type: none;
    border-left: 2px solid #000;
    margin-left: 1em;
    a {
      padding-left: 1em;
      position: relative;
    }
    a::before {
      content: '';
      position: absolute;
      top: 0;
      left: -2px;
      bottom: 50%;
      width: 0.75em;
      border: 2px solid #000;
      border-top: 0 none transparent;
      border-right: 0 none transparent;

    }
  }
  >li:last-child {
    border-left: 2px solid transparent;
  }
}
