.zfbutton {
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  border-radius: 0;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  font-size: 1rem;
  background-color: #008cba;
  border-color: #007095;
  color: white;
  transition: background-color 300ms ease-out;
}
.zfbutton:hover, .zfbutton:focus {
  background-color: #007095;
}

.zfbutton.disabled {
  background-color: #7D7D7D;
  color: #ADADAD;
  cursor: auto;
}

.zfbutton.unfriendly {
  margin-left: 5px;
}

.zfbutton.radius {
  border-radius: 3px;
}

.zfbutton.small {
  padding-top: 0.875rem;
  padding-right: 1.75rem;
  padding-bottom: 0.9375rem;
  padding-left: 1.75rem;
  font-size: 0.8125rem;
}

.zfbutton.tiny {
  padding-top: 0.625rem;
  padding-right: 1.25rem;
  padding-bottom: 0.6875rem;
  padding-left: 1.25rem;
  font-size: 0.6875rem;
}

.zfbutton.teensy {
  padding: 1px 5px 1px 3px;
  border-radius: 4px;
  font-size: 12px;
}

.zfbutton.teensy.tiny {
  margin-bottom: 2px;
}

.zfbutton-group {
  list-style: none;
  margin: 0;
  left: 0;
}
.zfbutton-group {
  list-style: none;
  margin: 0;
  left: 0;
}
.zfbutton-group > li .zfbutton {
  border-left: 1px solid;
  border-color: rgba(255, 255, 255, 0.5);
}
.zfbutton-group > li:first-child .zfbutton-group > li:first-child .zfbbutton {
  border-left: 0;
}

.zfbutton-group.round > * {
  margin: 0 -2px;
  display: inline-block;
}
.zfbutton-group.round > * > .zfbutton-group.round > * .zfbutton {
  border-left: 1px solid;
  border-color: rgba(255, 255, 255, 0.5);
}

.zfbutton-group.round > *:first-child .zfbutton-group.round > *:first-child .zfbutton {
  border-left: 0;
}

.zfbutton-group.round > *, .zfbutton-group.round > * > a, .zfbutton-group.round > * > .zfbutton-group.round > * > .zfbutton {
  border-radius: 0;
}

.zfbutton-group.round > *:first-child, .zfbutton-group.round > *:first-child > a, .zfbutton-group.round > *:first-child > .zfbutton-group.round > *:first-child > .zfbutton {
  -webkit-border-bottom-left-radius: 1000px;
  -webkit-border-top-left-radius: 1000px;
  border-bottom-left-radius: 1000px;
  border-top-left-radius: 1000px;
}

.zfbutton-group.round > *:last-child, .zfbutton-group.round > *:last-child > a, .zfbutton-group.round > *:last-child > .zfbutton-group.round > *:last-child > .zfbutton {
  -webkit-border-bottom-right-radius: 1000px;
  -webkit-border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;
  border-top-right-radius: 1000px;
}

//
//  Normally Zurb Foundation relies on the definition of postfix coming
//  after the definition of button in order to let the former override
//  the latter.  Unfortunately, we are the other way around, so need to
//  put some extra bits in .postfix.zfbutton to get the same result.
//
.postfix.zfbutton {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  display: block;
  border: none;
  line-height: 2.3125rem;
  font-size: 0.875rem;
}

