<div id='filter-dialogue'>
<h2>Filter event categories</h2>
<button id='all' class="zfbutton tiny radius">See all</button>
<button id='none' class="zfbutton tiny radius">See none</button>
<%= render @filter %>
</div>
