<% if @modal %>
<a class="close-reveal-modal">&#215;</a>
<% end %>
<h1>Contents of e-mail</h1>

<% if @html %>
  <div class='scheduler-email-contents'>
    <%= @html.html_safe %>
  </div>
<% else %>
  <pre><%= @text %></pre>
<% end %>
