
<% if timetable_day.active? %>
<div class='timetable-day'>
  <div class='timetable-day-name'><%= timetable_day.day_name %></div>
  <div class='timetable-day-periods'>
    <%= render timetable_day.periods %>
  </div>
</div>
<% end %>
