<tr>
  <td><%= ad_hoc_domain_staff.staff_name %></td>
  <td><%= ad_hoc_domain_staff.subjects.collect {|s| s.name}.join(", ") %></td>
  <td>0%</td>
  <td><%=
    link_to(
      "Allocate",
      allocate_ad_hoc_domain_staff_ad_hoc_domain_allocation_path(
        ad_hoc_domain_staff,
        @ad_hoc_domain_allocation),
        class: "zfbutton radius tiny teensy button-link"
    )

    %></td>

</tr>
