<% pupil_courses = staff_pupils.pupils_for(ad_hoc_domain_subject) %>
<div id='ahd-staff-pupils-t<%= staff_pupils.id %>'>
  <% if pupil_courses.size == 1 %>
    <%= ahd_row(
      contents: {
        no_pupils: "None defined yet."
      }) %>
  <% end %>
  <%= render pupil_courses.sort %>
</div>

