<div id='ahd-staff-pupils-t<%= staff_pupils.id %>'>
  <% if staff_pupils.ad_hoc_domain_pupil_courses.size == 1 %>
    <%= ahd_row(
      contents: {
        no_pupils: "None defined yet."
      }) %>
  <% end %>
  <%= render staff_pupils.pupils_for(ad_hoc_domain_subject).sort %>
</div>

