<div id='ahd-staff-pupils-<%= staff_pupils.id %>'>
  <% if staff_pupils.ad_hoc_domain_pupil_courses.size == 1 %>
    <%= ahd_row(text3: "None defined yet.",
                classes3: %w(annotation)) %>
  <% end %>
  <%= render staff_pupils.ad_hoc_domain_pupil_courses.sort %>
</div>

