<div id='file-selector-dialog' title='Select file'>
  <form>
    <fieldset>
      <label for='textoflink'>Text</label>
      <input type='text' name='textoflink' id='textoflink' placeholder='optional'/>
    </fieldset>
  </form>
</div>

