<%= render "layouts/header" %>
<div class="row">
  <div class="large-10 large-offset-1 columns">
    <%= yield %>
  </div>
  <div class="large-1 columns">
  </div>
</div>
<%= render "layouts/footer" %>
