<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <%= render partial: "styling" %>
  </head>
  <body>
    <div class='scheduler-email-contents'>
      <%= render partial: "header" %>
      <%= yield %>
    </div>
  </body>
</html>
